<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="GradElf Jobs -- A job site dedicated to graduates in the UK">
    <meta name="keywords" content="jobs, graduates, companies, find job, work, career">
    <title>GradElf Jobs</title>
    <!-- import bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/result.css">
    <!--import jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- import bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <!--html5shiv and respond-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="/javascripts/result.js"></script>
</head>
<body>
<!--header-->
<% if(!user || user.title === "jobseeker"){ %>
    <%- include("partials/elfHeader") %>
<% }else{ %>
    <%- include("partials/companyHeader") %>
<% } %>

<!--result content start-->
<div class="result-content clearfix">
    <!--result filters start -->
    <div class="result-filter col-sm-3 hidden-xs">
        <div class="sort">
            <span>Sort by:</span>
            <ul>
                <li id="soryByDate"><a href="">Post time</a></li>
                <li id="sortBySalary"><a href="">Salary</a></li>
            </ul>
        </div>
        <div class="job-type">
            <span>Job type</span>
            <ul>
                <li id="graduate" ><a href=""> Graduate</a></li>
                <li id="internship"><a href=""> Internship</a></li>
                <li id="part-time"><a  href=""> Part-time</a></li>
            </ul>
        </div>
        <div class="location">
            <span>Location</span>
            <ul id="cities">
                <li>UK</li>
                <li><a href="">&gt; All Cities</a></li>
                <li><a href="">&gt; London</a></li>
                <li><a href="">&gt; Edinburgh</a></li>
                <li><a href="">&gt; Cardiff</a></li>
                <li><a href="">&gt; Leeds</a></li>
                <li><a href="">&gt; Sheffield</a></li>
                <li><a href="">&gt; Manchester</a></li>
                <li><a href="">&gt; Oxford</a></li>
                <li><a href="">&gt; Cambridge</a></li>
                <li><a href="">&gt; Glasgow</a></li>
                <li><a href="">&gt; Liverpool</a></li>
                <li><a href="">&gt; Birmingham</a></li>
            </ul>
        </div>
        <div class="filter-date">
            <span>Date Posted</span>
            <ul>
                <li id="1day"><a href="#">Last 24 hours</a></li>
                <li id="3days"><a href="#">Last 3 days</a></li>
                <li id="7days"><a href="#">Last 7 days</a></li>
                <li id="others"><a href="#">Others</a></li>
            </ul>
        </div>
    </div>
    <!--result filters end -->

    <!--job list start-->
    <div class="job-list col-sm-9 col-xs-12">

        <div class="row">
            <form id="searchJob" method="get" action="/result">
                <span class="col-sm-1"></span>
                <input class="col-sm-4 col-xs-12" type="text" name="keysearch" class="form-control"
                       placeholder="Job title<% if(!user || user.title === "jobseeker"){ %>, company<% } %>">
                <input class="col-sm-4 col-xs-12" type="text" name="city" class="form-control" placeholder="City">
                <button class="col-sm-1 col-xs-6" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search hidden-lg hidden-xs"></span>
                    <span class="visible-lg visible-xs">Search</span></button>
            </form>
        </div>

        <!--job start-->
        <% if(user){ user.search = ''}%>
        <% if(jobs.length === 0){ %>
            <div class="job clearfix" id="no-result"><p>No result! Please try to search another keywords, or
                    <% if(!user || user.title === "jobseeker"){ %>
                        <a href="/postRequest">post your own request!</a>
                    <% } else { %>
                        <a href="/postJob">post a job now!</a>
                    <% } %>
                </p></div>
        <% } %>
        <% for(var i = 0; i < jobs.length; i++){ %>
            <div class="job clearfix" id="job1">
                <a class="job-title"
                   href="/jobDescription/<%= jobs[i]._id %>"><%= jobs[i].position || jobs[i].title %></a>
                <% if(!user || user.title === "jobseeker"){ %>
                    <div class="company-pic">
                        <img class="hidden-xs" src="<%= jobs[i].companyImage %>" alt="company icon"/>
                    </div>
                <% } %>
                <ul>
                    <% if(!user || user.title==='jobseeker'){ %>
                        <a href="/companyInfo/<%= jobs[i].email %>">
                    <% } else{ %>
                        <a href="/employeeInfo/<%= jobs[i].email %>">
                    <% } %>
                        <li class="company"><span class="glyphicon glyphicon-blackboard list-icon"></span>
                            <span>
                                <%= jobs[i].company || jobs[i].name %>
                            </span></li>
                    </a>
                    <li class="job-location"><span class="glyphicon glyphicon-map-marker list-icon"></span>
                        <span>Location: <%= jobs[i].location %></span></li>
                    <% if(jobs[i].salary.length !== 0 ){ %>
                        <li class="salary"><span class="glyphicon glyphicon-gbp list-icon"></span>
                            <span>Salary range: <%= jobs[i].salary[0] %> to <%= jobs[i].salary[1] %></span></li>
                    <% } %>
                    <li class="type"><span class="glyphicon glyphicon-tags list-icon"></span>
                        <span><%= jobs[i].jobType %></span></li>
                    <li class="post-date"><span class="glyphicon glyphicon-send list-icon"></span>
                        <span>Date posted: <%= jobs[i].date.getDate() %>/<%= jobs[i].date.getMonth() + 1 %>/
                        <%= jobs[i].date.getFullYear() %></span></li>
                        </a>
                </ul>
                <div class="job-description">
                    <p><%= jobs[i].description %></p>
                </div>
                <div>
                    <button class="job-apply"><span class="glyphicon glyphicon-envelope"></span>
                        <span>&nbsp;APPLY</span></button>
                </div>
            </div>
        <% } %>
        <!--job end-->

        <!--to top-->
        <div id="to-top">
            <a href="#">&nbsp;&nbsp;Back to Top&nbsp;&nbsp;</a>
        </div>

    </div>
    <!--job list end-->
</div>
<!--result content end-->

<!--footer-->
<%- include("partials/elfFooter") %>

</body>
</html>